<div class='one-movie'>
    <p class="title"> Title: <%=movie.title%></p>
    <p class="starring"> Description: <%=movie.description%> </p>
    <p class="year"> Year at: <%=movie.year%> </p>
    <p class="description"> Description: <%=movie.description%> </p>
    <p class="img"> Image: <%=movie.img%> </p>    
    <p class="locations_id"> Location: <%=movie.locations_id%> </p>    
</div>