<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>MOVIES:</h1>
    <div>
        <% movies.forEach(movie => { %>
            <hr />
            <p>ID: <%= movie.id %></p>
            <p>Title: <%= movie.title %></p>
            <p>Starring: <%= movie.starring %></p>
            <p>Year: <%= movie.year %></p>
            <p>Description: <%= movie.description %></p>
            <p>IMG: <%= movie.img %></p>
        <% }) %>
    </div>
</body>
</html>